etc/custom/resource.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:element name="Resources" type="ResourcesType"/>

    <xsd:complexType name="ResourcesType">
        <xsd:sequence>
            <xsd:element name="Resource" type="ResourceType" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
        <xsd:attribute name="scanMode" type="xsd:string"/>
    </xsd:complexType>

    <xsd:complexType name="ResourceType">
        <xsd:sequence>
            <xsd:element name="addMethods" type="addMethodsType" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="delMethods" type="delMethodsType" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
        <xsd:attribute name="className" type="ClassType"/>
    </xsd:complexType>

    <xsd:complexType name="addMethodsType">
        <xsd:sequence>
            <xsd:element name="addMethod" type="addMethodType" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="delMethodsType">
        <xsd:sequence>
            <xsd:element name="delMethod" type="delMethodType" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="addMethodType">
        <xsd:attribute name="className" type="ClassType"/>
        <xsd:attribute name="methodName" />
        <xsd:attribute name="methodSignature" type="SignatureType"/>
    </xsd:complexType>

    <xsd:complexType name="delMethodType">
        <xsd:attribute name="className" type="ClassType"/>
        <xsd:attribute name="methodName" />
        <xsd:attribute name="methodSignature" type="SignatureType"/>
    </xsd:complexType>

    <xsd:simpleType name="ClassType">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="[A-Za-z_][A-Za-z0-9_]*(.[A-Za-z_][A-Za-z0-9_]*)*"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="SignatureType">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="\(.*\).+"/>
        </xsd:restriction>
    </xsd:simpleType>


</xsd:schema>
